<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Book</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h1>Edit Book</h1>

<div th:if="${successMessage}" style="color: green;">[[${successMessage}]]</div>
<div th:if="${errorMessage}" style="color: red;">[[${errorMessage}]]</div>

<form th:action="@{/books/{id}/edit(id=${id})}" method="post" th:object="${book}">
    <label>Title:</label>
    <input type="text" th:field="*{title}" placeholder="Title"/>
    <div th:if="${#fields.hasErrors('title')}" style="color: red;">
        <p th:each="error : ${#fields.errors('title')}" th:text="${error}"></p>
    </div>
    <br/>

    <label>Author:</label>
    <input type="text" th:field="*{author}" placeholder="Author"/>
    <div th:if="${#fields.hasErrors('author')}" style="color: red;">
        <p th:each="error : ${#fields.errors('author')}" th:text="${error}"></p>
    </div>
    <br/>

    <label>ISBN:</label>
    <input type="text" th:field="*{isbn}" placeholder="ISBN"/>
    <div th:if="${#fields.hasErrors('isbn')}" style="color: red;">
        <p th:each="error : ${#fields.errors('isbn')}" th:text="${error}"></p>
    </div>
    <br/>

    <button type="submit">Update</button>
</form>

<a href="/books">Back to list</a>
</body>
</html>
