<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Book</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>
<body>
<h1>Edit Book</h1>

<div th:if="${successMessage}" style="color: green;">[[${successMessage}]]</div>
<div th:if="${errorMessage}" style="color: red;">[[${errorMessage}]]</div>

<form th:action="@{/books/{id}/edit(id=${book.id})}" method="post">
    <label>Title:</label>
    <input type="text" name="title" th:value="${book.title}" placeholder="Title" required/>
    <br/>
    <label>Author:</label>
    <input type="text" name="author" th:value="${book.author}" placeholder="Author" required/>
    <br/>
    <label>ISBN:</label>
    <input type="text" name="isbn" th:value="${book.isbn}" placeholder="ISBN" required/>
    <br/>
    <button type="submit">Update</button>
</form>

<a href="/books">Back to list</a>

</body>
</html>
